body {
	padding-top: 50px;
}

.margin-top {
	margin-top: 10px;
}

.itemrow:hover {
	background-color: #eee;
	cursor: pointer;
}

#messageContainer {
    position: fixed;
    width: 30%;
    bottom: 0;
    right: 0;
    z-index: 1070;
}
.progress {
    position: fixed;
    width: 40%;
    bottom: 0;
    right: 5px;
    border: none;
    height: auto;
    
}
    
}
#page-content {
    margin: 30px auto;
    padding: 1em;
    max-width: 800px;
	text-align: center;
}

/* To-do: Increase width for smaller screen sizes */


/* TABLE */
.table {
    table-layout: fixed
}
td {
    word-wrap: break-word
}
.td-edit-buttons { width: 10em }
.td-checkbox { width: 2em }


/* VIEW TRANSITION ANIMATION */

#mainview.ng-enter,
#mainview.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
     -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
       -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
          transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

#mainview.ng-enter {
  opacity:0;
  padding-left: 15px;
  padding-right: 15px;
  left:50px;
  width:100%;
  position:absolute;
}
#mainview.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

#mainview.ng-leave {
  position:absolute;
  padding-left: 15px;
  padding-right: 15px;
  left:0;
  width:100%;
  opacity:1;
}
#mainview.ng-leave.ng-leave-active {
  left:-50px;
  opacity:0;
}


/* DIV/MESSAGE ANIMATION */

.alert.ng-enter,
.alert.ng-leave
{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
     -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
       -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
          transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
}

.alert.ng-enter {
  opacity:0;
}

.alert.ng-enter.ng-enter-active,
.alert.ng-leave
{
  opacity:1;
}

.alert.ng-leave.ng-leave-active {
  opacity:0;
}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}

fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}

.tagList{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}

.tag-menuitem{
	
	margin-right:2px;
	margin-bottom: 2px;
    
}
div.inline { float:left;}
.clearBoth { clear:both; }


/*Copied from bootstrap */
 .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*Also */
 .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
 .fileinput-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.control-label{
    text-align: left;
    font-weight: bold;
}
.hint {
	font-style: italic;
	font-size: 10px;
}


.app_general_info_container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(2, 50px) auto; /*5 rows with 50 px*/
  grid-template-columns: 160px auto 1fr;
  grid-template-areas:
    "app_logo app_id app_url"
    "app_logo app_name company_name"
    "app_logo app_desc app_desc";

  background-color: #fff;
}

.app_logo {
  grid-area: app_logo;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}

.app_id {
  grid-area: app_id;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}
.app_name {
  grid-area: app_name;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}
.company_name {
  grid-area: company_name;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}
.app_url {
  grid-area: app_url;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}

.app_logo_url {
  grid-area: app_logo_url;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}
.app_desc {
  grid-area: app_desc;
  place-self: start stretch; /*align-self = start, justify-self = stretch*/
}
.app_security_container {
  /* 2 rows 1 column
    [row 1, col 1] -> app_security_secret
    [row 2, col 1] -> app_security_session
    */

  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(3, 50px); /*2 rows with 50 px*/
  grid-template-columns: auto;
  grid-template-areas:
    "app_security_secret app_security_secret"
    "app_security_session app_security_access_permission"
    "app_security_defcon app_security_access_permission";

  background-color: #fff;
}

.app_security_secret {
  grid-area: app_security_secret;
}

.app_security_session {
  grid-area: app_security_session;
}
.app_security_defcon {
  grid-area: app_security_defcon;
}
.app_security_access_permission {
  grid-area: app_security_access_permission;
}

.app_organizations_container {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.app_roles_container {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.app_redirectURLs_container {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.control-label {
  text-align: left;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
 
   .app_general_info_container {
	  display: grid;
	  grid-gap: 10px;
	  margin: 0 auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    
	  grid-template-areas:
	    "app_logo"
	    "app_id"
	    "app_url"
	    "app_name"
	    "company_name"
	    "app_desc";
	
	   background-color: #fff;
	}
	
	
 
}

@media only screen and (max-width: 400px) {
 
   .app_security_container {
	 
	  display: grid;
	  grid-gap: 10px;
	  grid-template-rows: auto 80px auto auto; /*2 rows with 50 px*/
	  grid-template-columns: 1fr;
	  grid-template-areas:
	    "app_security_secret"
	    "app_security_session"
	    "app_security_defcon"
	    "app_security_access_permission";
	
	  background-color: #fff;
	}
	
	
 
}

.log-container {

  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "from-date-div to-date-div search-div"
    "log-content-div log-content-div log-content-div";
  background-color: #fff;
}

.from-date-div {
  grid-area: from-date-div;
}

.to-date-div {
  grid-area: to-date-div;
}

.search-div{
  grid-area: search-div;
}

.log-content-div{
  grid-area: log-content-div;
}
